@media(min-width:768px){

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    background-color: #f9f9f9;
    color: #333;
    padding: 1rem;
    font-size: 16px;
    margin: 0;
}

.header-container{
    width: 80%;
    margin: auto;
   
}
header{
    background-color: black;
    color: #fff;
    min-height: 80px;
    border-radius: 10px;
    border-bottom: #84a8d4;
    

}
header a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header li{
    display: inline;
    float: left;
    padding: 0 20px 0 20px;

}

header #branding{
    float: left;
    margin-top: 10px;

}
header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}
#showcase{
    min-height: 400px;
    background-image: url('../My_Portifolio/pic2.jpg');
    text-align: center;
    color: #000;
}
#showcase h1{
    font-size: 28px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;

}


span{
    color: #005bbb;
}
.container{
    align-items: center;
    flex-basis: 40%;
}

.about{
    border: 1px #ccc solid;
    padding: 10px;
    background: #eee;
    align-items: center;

}
.me{
    flex-basis: 40%;
}

.contain{
    grid-template-columns: 1fr 1fr;
    display: grid ;
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    
    
}

.contain-2{
    grid-template-columns: 1fr 1fr;
    display: grid ;
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    
    
}

form{
    border: 1px #ccc solid;
    padding: 10px;
}
.box-1{
    flex-basis: 40%;
    background: #eee;
}

.box-3{
    flex-basis:40%;
    background: #959393;
}


a{
    text-decoration: none;
    color: #000;

}
a:hover{
    color: green;

}
a:active{
    color: blue;
}

.sidebar{
    width: 30%;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: flexbox;
}


footer {
    background-color:black;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}


img{
    width: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    justify-content: center;
}

.main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
}
section{
    margin-bottom: 2rem;
}

h1,h2 {
    margin-bottom: 1rem;
}

form input, form textarea {
    width: 90%;
    padding: 0.5rem;
    margin-top: 0.3rem;
}
form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
}
textarea {
    resize: vertical;
}

button {
    padding: 0.7rem 1.2rem;
    background-color: #115aa8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
}

button:hover {
    background-color: #84a8d4;
}



.my-form{
    padding: 20px;

}

}
